h1 {
	font-family: 'Haettenschweiler';
	color: #000;	
	font-size: 40px;
	margin: 0;
}

#onClock {
	background-color: #ccc;
	text-align: center;
	width: 200px;
	padding: 8px 0px;
}

.clock {
	margin-left: 46px;
}

.green {
	background-color: #00ff00!important;
}

.red {
	background-color: #ff0000!important;
}

.yellow {
	background-color: #ffff00!important;
}